@keyframes animation-candle1 {
    0% {
        left: 200px;
        top: 500px;
    }
    100% {
        left: 490px; 
        top: 150px; 
        mask-position: -100px -550px;
    }
}
@keyframes animation-candle2 {
    0% {
        left: 490px; 
        top: 150px; 
        mask-position: -100px -550px, -100px -550px;
    }
    100% {
        left: 890px; 
        top: 150px; 
        mask-position: -100px -550px, 300px -550px;
    }
}
.curtain {
    width:100%;
    height:100%;
    transition: mask-image 2s linear;
    background-color: black;
    mask-mode:alpha;
    mask-composite: intersect;
    mask-size: 1500px 1500px;
    &.light-match {
        mask-image: 
        radial-gradient(circle, transparent 0%,transparent 3%,transparent 5%,black 8%,black 20%,black 100%);
        mask-position: -400px -200px;
    }
    &.animate-candle1 {
        mask-image: 
        radial-gradient(circle, transparent 0%,transparent 3%,transparent 5%,black 8%,black 20%,black 100%);
        animation: animation-candle1 2s linear forwards;
    }
    &.animate-candle2 {
        mask-image: 
        radial-gradient(circle, transparent 0%,transparent 3%,transparent 5%,black 8%,black 20%,black 100%), 
        radial-gradient(circle, transparent 0%,transparent 3%,transparent 5%,black 8%,black 20%,black 100%);
        mask-size: 1500px 1500px, 1500px 1500px;
        animation: animation-candle2 2s linear forwards;
    }
    &.lit-candle3 {
        mask-image: 
        radial-gradient(circle at 640px 200px, transparent 0%,transparent 3%,transparent 5%,black 8%,black 20%,black 100%), 
        radial-gradient(circle at 1040px 200px, transparent 0%,transparent 3%,transparent 5%,black 8%,black 20%,black 100%),
        radial-gradient(circle at 850px 50px, transparent 0%,transparent 3%,transparent 5%,black 8%,black 20%,black 100%);
    }
    &.lit-candle4 {
        mask-image: 
        radial-gradient(circle at 640px 200px, transparent 0%,transparent 3%,transparent 5%,black 8%,black 20%,black 100%), 
        radial-gradient(circle at 1040px 200px, transparent 0%,transparent 3%,transparent 5%,black 8%,black 20%,black 100%),
        radial-gradient(circle at 850px 50px, transparent 0%,transparent 3%,transparent 5%,black 8%,black 20%,black 100%),
        radial-gradient(circle at 530px 490px, transparent 0%,transparent 3%,transparent 5%,black 8%,black 20%,black 100%);
    }
    &.lit-candle5 {
        mask-image: 
        radial-gradient(circle at 640px 200px, transparent 0%,transparent 3%,transparent 5%,black 8%,black 20%,black 100%), 
        radial-gradient(circle at 1040px 200px, transparent 0%,transparent 3%,transparent 5%,black 8%,black 20%,black 100%),
        radial-gradient(circle at 850px 50px, transparent 0%,transparent 3%,transparent 5%,black 8%,black 20%,black 100%),
        radial-gradient(circle at 530px 490px, transparent 0%,transparent 3%,transparent 5%,black 8%,black 20%,black 100%),
        radial-gradient(circle at 1150px 490px, transparent 0%,transparent 3%,transparent 5%,black 8%,black 20%,black 100%);
    }
}
.match {
    width: 200px;
    position: fixed;
    left: 200px;
    top: 500px;
    &.animate-candle1 {
        animation: animation-candle1 2s linear forwards;
    }
    &.animate-candle2 {
        animation: animation-candle2 2s linear forwards;
    }
}
