:root {
    --glow: radial-gradient(circle, transparent 0%,transparent 3%,transparent 5%,transparent 8%,black 15%,black 100%);
}
@keyframes animation-candle1 {
    0% {
    }
    100% {
        mask-position: -100px -550px;
    }
}
@keyframes animation-candle2 {
    0% {
        mask-position: -100px -550px, -100px -550px;
    }
    100% {
        mask-position: -100px -550px, 300px -550px;
    }
}
@keyframes animation-candle3 {
    0% {
        mask-position: -100px -550px, 300px -550px, 300px -550px;
    }
    100% {
        mask-position: -100px -550px, 300px -550px, -220px -250px;
    }
}
@keyframes animation-candle4 {
    0% {
        mask-position: -100px -550px, 300px -550px, -220px -250px, -220px -250px;
    }
    100% {
        mask-position: -100px -550px, 300px -550px, -220px -250px, 400px -250px;
    }
}
@keyframes animation-candle5 {
    0% {
        mask-position: -100px -550px, 300px -550px, -220px -250px, 400px -250px, 400px -250px;
    }
    100% {
        mask-position: -100px -550px, 300px -550px, -220px -250px, 400px -250px, 100px -700px;
    }
}
@keyframes animation-match1 {
    0% {
        left: 200px;
        top: 500px;
    }
    100% {
        left: 490px; 
        top: 150px; 
    }
}
@keyframes animation-match2 {
    0% {
        left: 490px; 
        top: 150px; 
    }
    100% {
        left: 890px; 
        top: 150px; 
    }
}
@keyframes animation-match3 {
    0% {
        left: 890px; 
        top: 150px; 
    }
    100% {
        left: 370px; 
        top: 440px; 
    }
}
@keyframes animation-match4 {
    0% {
        left: 370px; 
        top: 440px; 
    }
    100% {
        left: 990px; 
        top: 440px; 
    }
}
@keyframes animation-match5 {
    0% {
        left: 990px; 
        top: 440px; 
    }
    100% {
        left: 690px; 
        top: 10px; 
    }
}
.curtain {
    width:100vw;
    height:100vh;
    position: fixed;
    left: 0;
    top: 0;
    transition: mask-image 2s linear;
    mask-mode:alpha;
    mask-composite: intersect;
    mask-size: 1500px 1500px;
    &.light-match {
        background-color: black;
        mask-image: var(--glow);
        mask-position: -400px -200px;
    }
    &.animate-candle1 {
        mask-image: var(--glow);
        animation: animation-candle1 2s linear forwards;
    }
    &.animate-candle2 {
        mask-image: var(--glow),var(--glow);
        mask-size: 1500px 1500px, 1500px 1500px;
        animation: animation-candle2 2s linear forwards;
    }
    &.animate-candle3 {
        mask-image: var(--glow),var(--glow),var(--glow);
        mask-size: 1500px 1500px, 1500px 1500px, 1500px 1500px;
        animation: animation-candle3 2s linear forwards;
    }
    &.animate-candle4 {
        mask-image: var(--glow),var(--glow),var(--glow),var(--glow);
        mask-size: 1500px 1500px, 1500px 1500px, 1500px 1500px, 1500px 1500px;
        animation: animation-candle4 2s linear forwards;
    }
    &.animate-candle5 {
        mask-image: var(--glow),var(--glow),var(--glow),var(--glow),var(--glow);
        mask-size: 1500px 1500px, 1500px 1500px, 1500px 1500px, 1500px 1500px, 1500px 1500px;
        animation: animation-candle5 2s linear forwards;
    }
    &.song {
        mask-image: var(--glow),var(--glow),var(--glow),var(--glow),var(--glow);
        mask-size: 1500px 1500px, 1500px 1500px, 1500px 1500px, 1500px 1500px, 1500px 1500px;
        mask-position: -100px -550px, 300px -550px, -220px -250px, 400px -250px, 100px -700px;
    }
    &.none {
        background: none;
    }
}
.match {
    position: fixed;
    visibility: hidden;
}
.match.light-match {
    visibility: visible;
    width: 200px;
    position: fixed;
    left: 200px;
    top: 500px;
    &.animate-candle1 {
        animation: animation-match1 2s linear forwards;
    }
    &.animate-candle2 {
        animation: animation-match2 2s linear forwards;
    }
    &.animate-candle3 {
        animation: animation-match3 2s linear forwards;
    }
    &.animate-candle4 {
        animation: animation-match4 2s linear forwards;
    }
    &.animate-candle5 {
        animation: animation-match5 2s linear forwards;
    }
}
