#desktop-div {
    width: 100vw;
    height: 100vh;
}
.progress {
    width: 75vh;
    height: 2.5rem;
    position: relative;
    background: #e6e6e6;
    border: 1px solid #bcbcbc;
    display: flex;
}

.progress .progress_right {
    position: absolute;
    right: 0;
    height: 100%;
    background: #e6e6e6;
    animation-duration: 10s;
    animation-name: increase_progress;
}

.progress .progress_inner {
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    /* background-color: #06b025!important; */
    background: -webkit-linear-gradient(left, #06b025 0%, #06b025 30%, #5faf6c 45%, #c5ddc6 50%, #5faf6c 60%, #06b025 70%, #06b025 100%);
    /* background: linear-gradient(left, #06b025 0%, #06b025 30%, #5faf6c 45%, #c5ddc6 50%, #5faf6c 60%, #06b025 70%, #06b025 100%); */
    background-repeat: no-repeat;
    background-size: 1000px 100%;
    display: inline-block;
    -webkit-animation-duration: 5.25s;
    animation-duration: 5.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}

@-webkit-keyframes shimmer {
    0% {
        background-position: 100% 0
    }
    100% {
        background-position: -100% 0
    }
}

@keyframes shimmer {
    0% {
        background-position: right center;
    }
    100% {
        background-position: left center;
    }
}

@keyframes increase_progress {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}